{% block content %}
{% include 'header.html' %}
{% load static %}


    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5" style="border-color: rgba(256, 256, 256, .3) !important;"></h5>
                   <h1 class="display-1 text-white mb-md-4">Street Lightening System</h1>
                    <div class="pt-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- About Start -->
   
    <!-- About End -->
    

    <!-- Services Start -->

    <!-- Services End -->


    <!-- Appointment Start -->
   
    <!-- Appointment End -->


    <!-- Pricing Plan Start -->

    <!-- Pricing Plan End -->


    <!-- Team Start -->
   
    <!-- Team End -->


    <!-- Search Start -->
   
    <!-- Search End -->


    <!-- Testimonial Start -->
   
    <!-- Testimonial End -->


    <!-- Blog Start -->
    
    <!-- Blog End -->
    

    {% include 'footer.html' %}
      {% endblock %}  