{% include 'header.html' %}
<br>
<br> 
<br>
<br>
<center>
  <section class="contact_section  long_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <div class="heading_container">
              <h2>
                View Upload
              </h2>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        
                        <th scope="col">slno</th>
                        
                        
                        
                        
                        
                        
        
                    </tr>
                </thead>
                <tbody>
                    
                    {% for i in result %}
                    <tr>
                        <td></strong>{{forloop.counter}}</td>
                        
                        <td><img style="height: 200px; width: 200px;" src="../media/{{i.images}}" alt="h"></td> 
                        
        
                        
        
                        
                        
        
        
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </Center>
        
                </div>
                {% include 'footer.html' %} 